
.b{
  width: 100%;
  text-align: center;
  margin-bottom:20px;
  overflow: hidden;
  margin-left: -20px;
  margin-top: 250px;
  }
.b li {
  display: inline-block;
  width: 100px;
  height:100px;
  border-radius: 100%;
  background: black;
  margin: 3px;
  font-family: helvitica;
}

.b li a {
  display: block;
  padding-top: 40px;
  color: white;
  width: 100px;
  height: 60px;
}

img{
  width: 500px
}

p{
  position: absolute;
  top: 530px;
}

body {
	background-color: yellow;
	display: block;
	text-align: center;

}


